*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}
[class*="col-"]{
	float: left;
	padding: 20px;
}
.contenedor{
	position: relative;
	margin: auto;
	width: 100%;
	max-width: 1900px;
	height: auto;
}
.fila{
	position: relative;
	margin: auto;
	width: 100%;
	height: auto;
	clear: both;
	display: table;
}
body{
	/*background: url(../img/back.jpg) no-repeat;
	background-repeat: top center;*/
	width: 100%;
	max-width: 1920px;
	height: auto;
}
/*=============================================
CABEZOTE
=============================================*/
#slide{
	width: 100%;
	max-width: 1920px;
	height: 1080px;
}
#slide header{
	width: 100%;
	max-width: 1920px;
	height: auto;
	color: #ffff;
	display: table;
}
#slide header #logo{
	float: left;
	padding: 35px;
}
#slide header label{
	float: right;
	font-size: 30px;
	margin: 30px 0;
	color: white;
	cursor: pointer;
}
/*=============================================
BARRA DE NAVEGACION
=============================================*/
#menu-bar{display: none;}

.menu{
	position: absolute;
	top: 100px;
	width: 100%;
	max-width: 1920px;
	height: 100vh;
	background: transparent; 
 	transition: all 0.5s;
 	transform: translateX(-100%); 
}
.menu a{
	display: block;
	padding: 15px;
	line-height: 50px;
	font-size: 16px;
	overflow: hidden;
	color: white;
	border-bottom: 1px solid rgba(255,255,255,.3);
}
.menu a:hover{background: rgba(255,255,255,.3);}

#menu-bar:checked ~ .menu{transform: translateX(0%);}

#slide nav{padding: 10px;}
/*=============================================
SLIDE
=============================================*/
#slide article{
	height: 430px;
	color: white;
	text-align: center;
	margin-top: 100px;
}
#slide article h1{font-size: 46px;}

#slide article p{font-size: 17px;}

#slide article a{padding: 10px;}

#tho{
	top: 0;
	left: 0;
	background: #ffffff;
	color: #d32721;
}
#tha{
	top: 0;
	left: 5px;
	width: 190px;
	background: transparent;
	color: #ffffff;
}
.boton{
	margin-top: 10px;
	border-radius: 50px;
	width: 206px;
	height: 51px;
	border:1px solid white;
	background: #415da6;
	font-size: 16px;
	color: #ffffff;
}
/*=============================================
SECCION1
=============================================*/
#section1{
	max-width: 1920px;
	height: 600px;
	background: #f6f6f6;
}
#section1 center{
	padding: 80px 20px;
}
#section1 center h1{font-size: 30px;}

#section1 center p{font-size: 15px;}

#section1 center button{top: 0;}
.grra{
	background: linear-gradient(to bottom right, red, yellow);
  	-webkit-background-clip: text;  
 	-webkit-text-fill-color: transparent; 
}
/*=============================================
SECCION2
=============================================*/
#section2{
	width: 100%;
	max-width: 1920px;
	height: 686px;
}
#section2 article{
	text-align: justify;
}
#section2 article h1{font-size: 43px;}

#section2 article p{font-size: 18px;}
#section2 ol{
	width: 100%;
	max-width: 900px;
	height: 345px;
}
/*=============================================
FOTOS
=============================================*/
#fotos{
	position: relative;
	margin: auto;
	width: 1920px;
	height: 1286px;
	background: #f6f6f6;
}
#fotos ul{
	position: relative;
	width: 1920px;
	height: 1286px;
}
#fotos ul li:first-child{
	position: absolute;
	top: 2px;
	width: 959px;
	height: 641px;
}
#fotos ul li:nth-child(2){
	position: absolute;
	top: 168px;
	left: 1034px;
}
#fotos ul li:nth-child(3){
	position: absolute;
	top: 645px;
	left: 959px;
	width: 959px;
	height: 641px;
}
#fotos ul li:last-child{
	position: absolute;
	top: 802px;
	left: 298px;
}
#fotos ul li article h1{font-size: 43px;}
.tex{
	position: relative;
	width: 565px;
	height: 280px;
}
.paf{font-size: 15px;}
.boton{
	position: relative;
	top: 94px;
}
/*=============================================
BOTTOM
=============================================*/
#bottom{
	position: relative;
	margin: auto;
	width: 1920px;
	height: 489px;
	background: url(../img/bbom.png);
}
#bottom article{
	position: relative;
	top: 145px;
	left: 655px;
	width: 650px;
	height: 175px;
	text-align: center;
	font-size: 33px;
	color: white;
}
#bottom article form{
	position: relative;
	width: 393px;
	height: 52px;
	top: 45px;
	left: 106px;
}
#bottom article form input#email{
	position: absolute;
	left: 0px;
	width: 393px;
	height: 49px;
	border-radius: 50px;
	border: 1px solid white;
	background: transparent;
}
#bottom article form input#enviar{
	position: absolute;
	left: 260px;
	width: 135px;
	height: 49px;
	border-radius: 50px;
	border: 1px solid white;
	background: #ffffff;
}
/*=============================================
MAPA
=============================================*/
#mapa{
	position: relative;
	margin: auto;
	width: 1920px;
	height: 603px;
}
/*=============================================
FOOTER
=============================================*/
footer{
	position: relative;
	margin: auto;
	width: 1920px;
	height: 396px;
	background: #ffffff;
}
footer article{
	position: relative;
	top: 65px;
	left: 600px;
	width: 705px;
	height: 80px;
	color: #b3b8c5;
	text-align: center;
}
/*=============================================
PANTALLA DE ESCRITORIO LARGE (lg)         
=============================================*/
@media (min-width:1200px){
	.col-lg-12{width: 100%;}
	.col-lg-11{width: 91.66666667%;}
	.col-lg-{width: 83.33333333%;}
	.col-lg-9{width: 75%;}
	.col-lg-8{width: 66.66666667%;}
	.col-lg-7{width: 58.33333333%;}
	.col-lg-6{width: 50%;}
	.col-lg-5{width: 41.66666667%;}
	.col-lg-4{width: 33.33333333%;}
	.col-lg-3{width: 25%;}
	.col-lg-2{width: 16.66666667%;}
	.col-lg-1{width: 8.33333333%;}
	.col-lg-0{display: none;}

	#slide{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url(../img/bnav.png);}
	.menu{
		position: static;
		width: auto;
		height: auto;
		transform: translateX(0%);
		float: right;
		display: flex;}
	.menu a{border: none;}
	#slide header label{display: none;}
	#section2{
		padding-top: 100px;
		padding-left: 300px;
	}
	/*section{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url(../img/bask.png);
	}*/
}
/*=============================================
PANTALLA DE ESCRITORIO MED (md)         
=============================================*/
@media(max-width: 1199px) and (min-width:992px ){
	.col-md-12{width: 100%;}
	.col-md-11{width: 91.66666667%;}
	.col-md-{width: 83.33333333%;}
	.col-md-9{width: 75%;}
	.col-md-8{width: 66.66666667%;}
	.col-md-7{width: 58.33333333%;}
	.col-md-6{width: 50%;}
	.col-md-5{width: 41.66666667%;}
	.col-md-4{width: 33.33333333%;}
	.col-md-3{width: 25%;}
	.col-md-2{width: 16.66666667%;}
	.col-md-1{width: 8.33333333%;}
	.col-md-0{display: none;}

	#slide{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url(../img/bnav.png);}
	.menu{
		position: static;
		width: auto;
		height: auto;
		transform: translateX(0%);
		float: right;
		display: flex;}
	.menu a{border: none;}
	#slide header label{display: none;}
	#section2{
		padding-top: 100px;
		padding-left: 300px;
	}
	/*section{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url(../img/bask.png);
	}*/
}	
/*=============================================
PANTALLA DE ESCRITORIO SMALL (sm)        
=============================================*/
@media(max-width: 991px) and (min-width:768px ){
	.col-sm-12{width: 100%;}
	.col-sm-11{width: 91.66666667%;}
	.col-sm-{width: 83.33333333%;}
	.col-sm-9{width: 75%;}
	.col-sm-8{width: 66.66666667%;}
	.col-sm-7{width: 58.33333333%;}
	.col-sm-6{width: 50%;}
	.col-sm-5{width: 41.66666667%;}
	.col-sm-4{width: 33.33333333%;}
	.col-sm-3{width: 25%;}
	.col-sm-2{width: 16.66666667%;}
	.col-sm-1{width: 8.33333333%;}
	.col-sm-0{display: none;}

	#slide{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url(../img/bnav.png);}
	.menu{
		background: rgba(155,0,0,.9);
		z-index: 100;
	}
	#section2{
		padding-top: 80px;
		padding-left: 40px;
	}
}
/*=============================================
PANTALLA DE ESCRITORIO EXTRASMALL (xs)         
=============================================*/
@media(max-width: 767px){
	.col-xs-12{width: 100%;}
	.col-xs-11{width: 91.66666667%;}
	.col-xs-{width: 83.33333333%;}
	.col-xs-9{width: 75%;}
	.col-xs-8{width: 66.66666667%;}
	.col-xs-7{width: 58.33333333%;}
	.col-xs-6{width: 50%;}
	.col-xs-5{width: 41.66666667%;}
	.col-xs-4{width: 33.33333333%;}
	.col-xs-3{width: 25%;}
	.col-xs-2{width: 16.66666667%;}
	.col-xs-1{width: 8.33333333%;}
	.col-xs-0{display: none;}

	#slide{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url(../img/bnav.png);}
	.menu{
		background: rgba(155,0,0,.9);
		z-index: 100;
	}
}